.bookings-container {
    display: grid;
}

.upcoming-trip-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.booking-tile {
    display: flex;

}

.trips-wrapper {
    padding: 0 1rem;
}

.upcoming-trip-div {
    padding: 0 1rem;
}

.past-trip-div {
    padding: 0 1rem;
}
